<section style="height:100vh;" class="py-md-5 py-6">
    <div class="container py-lg-6">
      <!--row-->
      <div class="row align-items-center gy-4 justify-content-center">
        <div class="col-xxl-5 col-xl-6 col-md-10">
          <div class="d-flex flex-column gap-5 text-center">
            <div class="d-flex flex-column gap-2">
              <span class="text-muted fs-5">your voice is a unique spell</span>
              <!--heading-->
              <h1 class="mb-0 display-7 fw-bold">
                <span id="typing-text" class="cinzel-first">UNLOCK THE MAGIC OF SPEECH!</span>
                
              </h1>
            </div>
            <div class="my-4 container d-flex justify-content-center ">
              <button class="mx-2 py-2 px-4  btn btn-ultra-voilet" id="assess">Start your Quest</button>
              <button type="button" class="btn py-2 px-4 btn-outline-light">learn more</button>

            </div>
 
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <section>
    <div style="gap: 30px;" class="row flex-column align-items-center container-fluid">
      <div class="about-boxes">
        <h3>🔮Interactive Spell Casting</h3>
        <p>Voice-activated games that respond to correct pronunciation, making practice feel like magic.</p>
      </div>
      <div class="about-boxes">
        <h3>🔮Personalized Quest Maps</h3>
        <p>Custom learning paths designed for each child's specific speech challenges.</p>
      </div>
      <div class="about-boxes">
        <h3>🔮Parent Wizard Portal</h3>
        <p>Track progress, access resources, and learn how to support your child's journey.</p>
      </div>
      <div class="about-boxes">
        <h3>🔮Accessible, Anytime, Anywhere</h3>
        <p>Breakdown geographical and financial barriers to quality speech therapy.</p>
      </div>
    </div>

  </section>
  <script>
    
    let btn_assess= document.getElementById('assess');
    
    btn_assess.addEventListener('click',async()=>{
        window.location.href = "/user/new"
    })
    </script>