<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-transparent ">
    <a class="navbar-brand text-warning" href="#">EchoSpell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active text-light" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link text-light" href="#">Features</a>
        <a class="nav-item nav-link text-light" href="#">Pricing</a>
        <a class="nav-item nav-link text-light" href="#">Disabled</a>
      </div>
      <div class="d-flex ml-auto">
        <a href="/login" class="btn btn-outline-light mx-2">Login</a>
        <a href="/user/new" class="btn btn-ultra-voilet">Sign Up</a>
    </div>
    </div>
  </nav>
 