<% layout('layout/boilerplate') %>
    <div class="container d-flex gap-3 flex-column align-items-center  justify-content-center">
        <p style="display:none;" id="unvis-id"><%=id%></p>
        <h2>Read this text aloud:</h2>
        <p id="referenceText">The fairy sings with a soft voice</p>
        <div>

            <button id="startBtn" style="border:none;" class="my-3 mx-2 btn btn-ultra-voilet">Start Recording</button>
            <button id="stopBtn" style="border:none;" class="my-3 mx-2 btn btn-ultra-voilet" disabled>Stop Recording</button>
        </div>
    
        <h3>Recognized Text:</h3>
        <p id="recognizedText"></p>
    
        <!-- <h3>Assessment Scores:</h3>
        <p id="scores"></p> -->
    </div>
    

    <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
    <script src="/script.js"></script>
    <!-- <script src="idxx.js"></script> -->
    <!-- <script src="indx2.js"></script> -->

