<% layout('layout/boilerplate') %>
    <div class="container d-flex gap-3 flex-column align-items-center justify-content-center">
        <p style="display:none;" id="unvis-id"><%=id%></p>
        <h2>Read this text aloud:</h2>

        <!-- Scrollable text container -->
        <div id="scrollContainer" style="height: 40px; overflow-y: auto; border: 1px solid #ddd; padding: 10px; width: 90%;">
            <p id="referenceText">Here will be the paragraph which needs to be spoken by the user and have the scroll as the sentences are said.Find poetry lesson plan </p>
        </div>

        <div>
            <button id="startBtn" style="border:none;" class="my-3 mx-2 btn btn-ultra-voilet">Start Recording</button>
            <button id="stopBtn" style="border:none;" class="my-3 mx-2 btn btn-ultra-voilet" disabled>Stop Recording</button>
        </div>

        <h3>Recognized Text:</h3>
        <p id="recognizedText"></p>
    </div>

    <script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
    <script src="/script.js"></script>
