*{
    font-family: "Cinzel", serif;

}
body {
    background: radial-gradient(circle at top, rgba(66, 39, 90, 0.6), rgba(10, 10, 20, 1)), 
                radial-gradient(circle at bottom right, rgba(58, 101, 186, 0.5), transparent);
    background-color: #0a0a14; 
    color: white;
    
}

.trans-inp {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5); /* Soft white border */
    padding: 4px;
    
    color: white; /* Text color */
    outline: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

/* Focus Effect */
.trans-inp:focus {
    border-color: #f1c40f; /* Golden highlight on focus */
    box-shadow: 0px 0px 10px rgba(241, 196, 15, 0.5);
}

/* Placeholder Styling */
.trans-inp::placeholder {
    color: rgba(255, 255, 255, 0.7);
    
}
.cinzel-first {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
}
.btn-ultra-voilet{
    background: linear-gradient(to right, #9d617a, #38246f);
    color: #fff;
  
}
.btn-ultra-voilet:hover{
    --box-shadow-color: rgba(78, 40, 124, 0.811);
    box-shadow: 0 0 30px var(--box-shadow-color);
}


.about-boxes {
    
    background: rgba(198, 170, 234, 0.1); /* Transparent effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Soft border */
    border-radius: 15px; /* Rounded edges */
    padding: 20px;
    width: 80vw;
    margin:auto;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); /* Glow effect */
    backdrop-filter: blur(10px); /* Glass effect */
}

